<!DOCTYPE html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap.css">

    <title>My game life | Blog</title>
    <link rel="shortcut icon" href="../static/img/favicon.ico">
</head>

<body class="bgc">

	<div class="jumbotron-blog jumbotron-fluid">
  		<div class="container">
  			<h1 class="display-4 text-center">Bienvenido</h1>
  			<p class="lead">
  				<div class="contenedor">
  					<p class="display-blog p-blog">I'm</p>
	  				<ul class="ul-blog">
	  					<li class="display-blog">{{ info }}</li>
	  					<li class="display-blog">{{ info2 }}</li>
	  					<li class="display-blog">{{ info3 }}</li>
	  				</ul>
  				</div>
  			</p>
  		</div>
  	</div>

  	<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  		<nav class="navbar navbar-expand-lg navbar-light">
  			<a class="navbar-brand" href="/">Inicio</a>
  			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  				<span class="navbar-toggler-icon"></span>
  			</button>
  			<div class="collapse navbar-collapse" id="navbarNav">
  				<ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/entradas">Entradas</a>
            </li>
  					<li class="nav-item active">
  						<a class="nav-link" href="/presentacion">Acerca de mi</a>
  					</li>
  				</ul>
  			</div>
  		</nav>
  	</nav><br>

  	<div class="contenedor-ent borde-centrado borde-pkm">
  		<div class="row-blog">
  			<div class="col">
  				<h3>Bienvenido seas a este pequeño mundo</h3><br>
  				Hola, se bienvenido(a) a este pequeño blog relacionado al mundo de los videojuegos. Aqui encontraras historias de mi vida "gamer", mis experiencias con algunos videojuegos, asi como una que otra noticia del mundo videojuegalistico (o como quieras decirle). El gusto por los videojuegos esta en todos, pero de diferente forma, algunos juegan por horas, otros solo en sus momentos libres, otra parte solo juega en celulares y en cambio hay quienes dan todo para conseguir una consola, o bien, la consola de ultima generacion que se encuentre en el mercado.
  				<div class="row contenedor-ent">
		  			<div class="col">
		  				<img src="../static/img/xboxx.jpg" class="rounded mx-auto d-block img-centro" width="170.5" title="Xbox One X de Microsoft">
		  			</div>
		  			<div class="col">
		  				<img src="../static/img/ps4.jpg" class="rounded mx-auto d-block img-centro" width="105" title="Play Station 4 de Sony">
		  			</div>
		  		</div>
		  		En fin, seas amante de la compañia que sea o seas un jugador casual de juegos moviles, hay algo que a todos nos une y son las ganas y el gusto por jugar, pos superar los niveles y por tener historias que contar a tus amigos. Disfruta tu estancia, y recuerda, antes de que te vayas... es peligroso ir solo, toma esto.<br><br>
		  		<button type="button" class="boton-img mx-auto d-block" data-toggle="modal" data-target="#exampleModal"></button>

          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">HYAH!</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <img class="mx-auto d-block" src="../static/img/linksword.gif">
                </div>
              </div>
            </div>
          </div>

  			</div>
  		</div>
  		
  		<hr class="separador">

      <div class="alert alert-info text-center" role="alert">
        <h2>~~~ ENTRADAS ~~~</h2>
      </div>
  		<div class="row-blog">
  			<div class="col">

          <div class="card w-100 text-white bg-info mb-3">
            <div class="card-body">
              <h5 class="card-title">Jugando League of Legends</h5><hr>
              <p class="card-text">Todo comenzo el 22 de enero de 2016, una pc all in one de Lenovo y una conexion de 10 mbps de internet. Claro, ¿que podria ir mal?</p>
              <a href="/mi-vida-en-lol" class="btn btn-primary">Leer</a>
            </div>
          </div>

  			</div>

  			<div class="col">

          <div class="card w-100 text-white bg-info mb-3">
            <div class="card-body">
              <h5 class="card-title">Jugando Fortnite</h5><hr>
              <p class="card-text">Bueno, era momento de probar juegos en linea que solicitaran mas recursos, y que mejor que Fortnite, gratis y en su auge.</p>
              <a href="/mi-vida-en-fortnite" class="btn btn-primary">Leer</a>
            </div>
          </div>

  			</div>

  			<div class="col">

          <div class="card w-100 text-white bg-info mb-3">
            <div class="card-body">
              <h5 class="card-title">Jugando CoD: MW</h5><hr>
              <p class="card-text">Bueno, pues la beca se fue en una muy buena inversion. Ofertas en Amazon+Dinero=Gastos extremos. Un Xbox One S, y un mes despues, CoD: MW.</p>
              <a href="#" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal3">Leer</a>

              <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title text-dark" id="exampleModalLabel3">Ups... estamos trabajando en ello</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <img class="mx-auto d-block" src="../static/img/dificultades.jpg" width="450">
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
  			
        </div>
  		</div>
  	</div><br>





    <script src="../static/jquery/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="../static/jquery/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="../static/js/bootstrap.min.js"></script>
</body>

<!--footer class="borde-pkm">


</footer-->

</html>